html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
body{
  /* background: gray; */
}

header {
  
  font-family: 'Rubik', sans-serif;
  
}
/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */
.hero {
  width: 100%;
  height: 100svh;
  position: relative;
  top: 0;
  left: 0;
  padding: 0px 5%;
  background: linear-gradient(178deg, rgba(0, 0, 0, 0.95), rgba(8, 28, 128, 0.45), rgba(255, 255, 255, 0.85));
  
}

.video_hed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}


nav .img-logo{
  width: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.205); */
    /* padding: 30px 100px; */
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

.nav_menu {
  display: flex;
  text-transform: uppercase;
  font-size: 1.1rem;
  align-items: center;
  gap: 40px;
}
.nav_link {
  transition: 0.5s ease;
}

.nav_link:hover {
  color: #bfbfbfa8;
}

/* .navbar .nav_iteam{
  position: relative;
}
.navbar .nav_iteam::after{
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
  background: rgb(255, 255, 255);
  left: 0;
  bottom: -5px;
  transition: 0.5s ease;
}
.navbar .nav_iteam:hover::after{
  width: 100%;
} */

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger_button{
  display: none;
}
.hamburger_social{
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.bar_h {
  position: relative;
  right: -3px;
  width: 24px;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  min-height: 50%;
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
}

.header_content h1 {
  font-size: clamp(30px, 4.5vw, 60px);
  font-weight: 800;
}
.header_content p {
  font-size: clamp(16px, 3.5vw, 24px);
  font-weight: 400;
  margin-top: 30px;
  line-height: 27px;
}
.header_social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.reservace_link{
  width: 150px;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  border: 2px solid white;
}

/* .header_link a{
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  border: 2px solid aqua;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  top: 40px;
}
.header_link span{
  background: aqua;
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s ease;
}
.header_link:hover span{
  width: 100%;
} */